<div class="col-md-5 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="text-center">Edit user</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" [(ngModel)]="user.username" id="username" class="form-control">
          <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" [(ngModel)]="user.email" id="email" class="form-control">
          <p class="text-danger">Error</p>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select name="role" id="role" [(ngModel)]="user.role" class="form-control">
            <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
          </select>
        </div>
        <div class="form-group mt-4">
          <button class="btn btn-primary">Update user</button>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-danger" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</div>
