<div class="bg-dark py-3 footer">
  <div class="col-md-6 mx-auto">
    <h6 class="text-muted text-center">Tech used in this project</h6>
    <div class="tech">
      <div class="tech__icons">
        <span class="iconify" data-icon="teenyicons:nodejs-solid" data-inline="false" style="color: #999999;"></span>
        <span class="iconify" data-icon="teenyicons:typescript-solid" data-inline="false"
          style="color: #999999;"></span>
        <span class="iconify" data-icon="cib:angular" data-inline="false" style="color: #999999;"></span>
        <span class="iconify" data-icon="grommet-icons:mysql" data-inline="false" style="color: #999999;"></span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto d-flex align-items-center justify-content-center">
    <span class="text-muted">&copy; | 2021 Manuel Flores</span>
  </div>
</div>
