.footer {
  height: 140px;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  &__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;

    .iconify {
      height: auto;
      width: 1.5rem;
    }
  }
}
