.fbutton {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 170px;

    span {
      margin-top: -10px;
      font-size: 3rem;
    }
  }
}
