<div class="col-md-7 mx-auto mb-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="text-center">New note</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
        <div class="form-group">
          <label for="title">Title</label>

          <input type="text" name="title" formControlName="title" id="title" class="form-control">
          <small class="text-danger" *ngIf="checkField('title')">{{ getErrorMessage('title') }}</small>

        </div>
        <div class="form-group">
          <label for="content">Content</label>

          <textarea name="content" id="content" formControlName="content" rows="5" class="form-control"></textarea>
          <small class="text-danger" *ngIf="checkField('content')">{{ getErrorMessage('content') }}</small>

        </div>
        <div class="form-group">
          <label for="colour">Colour</label>

          <select name="colour" id="colour" formControlName="colour" class="form-control">
            <option *ngFor="let colour of colours" [value]="colour.code">{{ colour.name }}</option>
          </select>
          <small class="text-danger" *ngIf="checkField('colour')">{{ getErrorMessage('colour') }}</small>

        </div>
        <div class="form-group mt-4">
          <button class="btn btn-primary" type="submit">Save Note</button>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-danger" (click)="cancelSave()">Cancel</button>
    </div>
  </div>
</div>
